.buttons>button,
.inputs>mat-form-field {
  margin-right: 1rem;
}

.inputs {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
}

:host {
  width: 50%;
}

.ing-group {
  display: flex;
  align-items: center;
}

.ing-group>* {
  margin-right: 1rem
}

.ing-group>.btn {
  margin-bottom: 1.34375em;
}

.preview {
  max-height: 20rem;
  max-width: 20rem;
  display: block;
  margin-bottom: 1.2rem;
}
