<header>
  <mat-toolbar color="primary">
    <mat-icon (click)="showHome()" color="warn" class="home-btn"
      >library_books</mat-icon
    >
    <button mat-button (click)="showRecipes()">Recipes</button>
    <button mat-button (click)="showShoppingList()">Shopping List</button>
    <div appMenubtn class="menu">
      <button>Delete me</button>
      <div class="module">Some Jank hahahahah</div>
    </div>
    <span class="example-spacer"></span>
    <button mat-button>Manage</button>
  </mat-toolbar>
</header>
