<form class="shopping-list-edit-group" #f="ngForm">
  <div class="inputs">
    <mat-form-field appearance="fill">
      <mat-label>Name</mat-label>
      <input
        matInput
        placeholder="Eg. Fred Bitch"
        name="name"
        ngModel
        required
      />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Amount</mat-label>
      <input
        matInput
        placeholder="999"
        name="amount"
        pattern="^[1-9]+[0-9]*$"
        ngModel
        required
      />
    </mat-form-field>
  </div>
  <div class="buttons">
    <button
      class="btn"
      type="button"
      mat-raised-button
      color="primary"
      name="add"
      (click)="!editMode ? add(f) : edit(f)"
      [disabled]="!f.valid"
    >
      {{ editMode ? "Edit" : "Add" }}
    </button>
    <button
      [disabled]="!editMode"
      class="btn"
      mat-raised-button
      color="accent"
      (click)="delete()"
    >
      Delete
    </button>
    <button
      class="btn"
      mat-raised-button
      color="warn"
      [disabled]="!f.valid"
      (click)="clear()"
    >
      Clear
    </button>
  </div>
</form>
